.bg {
  width: 100%;
  position: relative;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero .content h1 {
  font-size: 2.5rem; /* 👈 reduce from 4rem */
  padding: 0.6rem 0 1.5rem;
}

.hero .content p {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
}

.content .btn {
  margin: 1rem 0.2rem;
}

@media screen and (max-width: 640px) {
  .hero .content h1 {
    font-size: 3rem;
  }

  .hero .content p {
    font-size: 1.4rem;
  }
} /*.bg {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.bg canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1;
}

.hero {
  position: relative;
  z-index: 1;
}
.hero {
  height: 100%;
  width: 100%;
}

.hero .content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.hero .content h1 {
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
}

.hero .content p {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
}

.content .btn {
  margin: 1rem 0.2rem;
}

@media screen and (max-width: 640px) {
  .hero .content h1 {
    font-size: 3rem;
  }

  .hero .content p {
    font-size: 1.4rem;
  }
}*/
