@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background: #180055;
}

h1,
h4,
p,
a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #ff1414;
  color: #fff;
  border: 1px solid #ff1414;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.btn:hover {
  background: rgba(255, 20, 20, 0.2);
  color: #fff;
  border: 1px solid #ff1414;
  transition: 0.3s;
}
.card-container,
.footer,
form {
  position: relative;
  z-index: 1;
}
.card-container,
.footer,
form,
.about-container,
nav {
  position: relative;
  z-index: 1;
}
